<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Auto archiver</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="switchToRegister()"><i class="glyphicon glyphicon-user"></i>Rejestracja</a></li>
      <li><a (click)="switchToLogin()"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
    </ul>
  </div>
</nav>
</body>


</html>
