<div class="container" id="login" style="margin-top: 10%">
  <div class="row">
    <div class="col-md-16 offset-3">
      <div class="well login-box">

        <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
          <h1 style="text-align: center">Rejestracja</h1>
          <div class="alert alert-danger" *ngIf="invalidForm">
            <p>Błędne dane:</p>
            <ul>
              <li *ngIf="registerForm.get('username').invalid">nazwa użytkownika musi zawierać od 3 do 10 liter lub cyfr</li>
              <li *ngIf="userExists">nazwa użytkownika jest już zajęta</li>
              <li *ngIf="!passwordMatch">hasła muszą się zgadzać</li>
              <li *ngIf="registerForm.get('password').invalid">hasło musi mieć minimalne 5 znaków</li>
            </ul>
          </div>
          <div class="alert alert-success" *ngIf="userRegistered">
            <p>Rejestracja przebiegła pomyślnie</p>
          </div>
          <div class="form-group">
            <input placeholder="Nazwa użytkownika" type="text" class="form-control" formControlName="username"/>
          </div>
          <div class="form-group">
            <input placeholder="Hasło" type="password" class="form-control" formControlName="password"/>
          </div>
          <div class="form-group">
            <input placeholder="Powtórz hasło" type="password" class="form-control" formControlName="rPassword"/>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-lg btn-primary" type="submit">Zarejestruj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
